html {
  scroll-behavior: smooth;
}
body{
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f2f2f2;
}
header{
  width: 100%;
  position: fixed;
  z-index: 1000;
}

section{
  padding-bottom: 30px;
}

.margin-top{
  margin-top: 10px;
  padding-top: 50px;
}

@media (max-width: 2000px){
  .menu-bar{
    list-style-type: none;
    margin: 0;
    padding: 5px;
    overflow: hidden;
    background-color: white;
    animation: yourAnimation1 .9s forwards .0s ease;
  }
  @keyframes yourAnimation1{
    0%{
        transform: rotate(0) translateY(-30px);
        opacity: 0;
        }
    100%{
        transform: rotate(0) translateY(0);
        opacity: 1;
        }
  }
  .scrolled{
    background-color: rgba(1, 18, 20, 0.9);
    transition: 0.8s;
  }
  
  .menu-bar li {
    float: right;
    font-size: 20px;
  }
  .menu-bar a {
    display: block;
    color: gray;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .menu-bar a:hover {
    background-color: #259D92;
    color: white;
  }
  
  .home-img{
    width:100%;
    height: 800px;
    background-image: url('./img/fondo-home.png');
    background-position: center;
    background-size: cover;
    animation: yourAnimation2 .3s forwards 0s ease;
  }
  @keyframes yourAnimation2{
    0%{
        transform: rotate(0) translateX(-1000px);
        opacity: 0;
        }
    100%{
        transform: rotate(0) translateX(0px);
        opacity: 1;
        }
  }
  .home-text{
    color: white;
    font-weight: bold;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 50%;
    padding: 20px;
    text-align: center;
    margin: 0 auto;
  }
  
  .home-text h1{
    font-size: 50px;
    margin-top: 8px;
    margin-bottom: 40px;
  }
  
  .home-text h3{
    font-size: 30px;
    margin: 0;
  }
  
  .arrow-down{
    background-color: transparent;
    border: none;
    text-decoration: none;
  }
  
  .arrow-down i{
    color: white;
    animation: yourAnimation4 .7s infinite 0s ease;
    font-size: 30px;
  }
  
  @keyframes yourAnimation4{
    0%{
        transform: rotate(0);
        }
    50%{
        transform: rotate(0) translateY(-6px);
        }
    100%{
        transform: rotate(0);
        }
  }
  
  .arrow-down i:hover{
    opacity: 0.8;
    color: #259D92;
  }
  
  .titles{
    text-align: center;
    font-size: 50px;
    width: 100%;
  }
  
  .about-me{
    width: 100%;
    height: 400px;
    text-align: end;
    
  }
  
  .avatar-pic{
    width: 350px;
    border-radius: 50%;
    margin: 20px 150px 20px 20px;
    float: left;
  }
  
  .aboutme-text{
    padding-right: 50px;
    font-size: 30px;
    text-align: justify;
  }
  
  .about-me a{
    padding-right: 50px;
    font-size: 25px;
  }
  
  .link-icon{
    width: 30px;
  }
  
  .link-icon:hover{
    opacity: 0.4;
  }
  
  .skills{
    height: 600px;
  }
  
  .skills-text{
    font-size: 30px;
    width: 65%;
    text-align: justify;
    margin: auto 0;
    float: left;
  }
  
  .skills-chart{
    background-color: rgba(226, 226, 226, 0.4);
    color: white;
    font-weight: bold;
    width: 400px;
    border-radius: 8px;
    float: right;
  }
  
  .skills-chart span{
    margin: 5px;
    color: black;
    font-weight: initial;
  }
  
  .skills-icon{
    width: 23px;
  }
  
  .progress-bar1{
    margin: 5px;
    width: 85%;
    height: 1.2rem;
    background-color: #FF5600;
    border-radius: 4px;
    text-align: center;
  }
  .progress-bar2{
    margin: 5px;
    width: 80%;
    height: 1.2rem;
    background-color: #0090E9;
    border-radius: 4px;
    text-align: center;
  }
  .progress-bar3{
    margin: 5px;
    width: 70%;
    height: 1.2rem;
    background-color: #FDDA3E;
    border-radius: 4px;
    text-align: center;
  }
  .progress-bar4{
    margin: 5px;
    width: 90%;
    height: 1.2rem;
    background-color: #302E2E;
    border-radius: 4px;
    text-align: center;
  }
  .progress-bar5{
    margin: 5px;
    width: 90%;
    height: 1.2rem;
    background-color: #DF4D2F;
    border-radius: 4px;
    text-align: center;
  }
  .progress-bar6{
    margin: 5px;
    width: 70%;
    height: 1.2rem;
    background-color: #ECC426;
    border-radius: 4px;
    text-align: center;
  }
  .progress-bar7{
    margin: 5px;
    width: 98%;
    height: 1.2rem;
    background-color: #C4002E;
    border-radius: 4px;
    text-align: center;
  }
  .progress-bar8{
    margin: 5px;
    width: 70%;
    height: 1.2rem;
    background-color: #83CD29;
    border-radius: 4px;
    text-align: center;
  }
  
  .column-one{
    width: 40%;
    float: left;
  }
  
  .projects-description{
    padding-left: 50px;
    font-size: 20px;
    text-align: justify;
  }
  
  .projects-description span{
    color: #259D92;
    font-weight: bold;
  }
  /* Slideshow de imágenes */
  
  .mySlides {
    width: 100%;
    position: relative;
    display: inline-block;
    text-align: center;
  
  }
  .project-img {
    vertical-align: middle;
  }
  
  /* Slideshow contenedor */
  .slideshow-container {
  max-width: 500px;
  position: relative;
  margin: auto;
  }
  
  /* Botones de Siguiente/Anterior */
  .prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  }
  
  /* Posición de los botones de "siguiente" a la derecha */
  .next {
  right: 0;
  border-radius: 3px 0 0 3px;
  }
  
  .prev {
    left: 0;
    border-radius: 0 3px 3px 0;
  }
  
  /* Con hover, color nuevo para que resalte */
  .prev:hover, .next:hover {
  background-color: #259D92;
  color:black;
  }
  
  /* Texto por imagen */
  .text {
    color: black;
    font-size: 30px;
    width: 100%;
  }
  
  /* Número de la imagen (1/6 etc) */
  .numbertext {
  color: black;
  font-size: 20px;
  top: 0;
  }
  
  /* Las bolitas */
  .dot-chain{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #259D92;
  border-radius: 50%;
  transition: background-color 0.6s ease;
  }
  
  .active-slide-img, .dot:hover {
  background-color: gray;
  }
  
  /* Animación de las imágenes */
  .fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
  }
  
  @keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
  }
  
  /* Responsive del Texto de cada imagen */
  @media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
  }
  .contact-me{
    height: 450px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .contact-icons{
    text-align: center;
    padding-top: 40px;
    padding-right: 20px;
    width: 80px;
  }
  .contact-icons:hover{
    opacity: 0.5;
  }
  .envelope-icon{
    width: 50px;
  }
  .email-contact{
    font-size: 30px;
  }
  
  footer{
    background-color: rgb(31, 30, 30);
    margin-bottom: 0;
    columns: 2;
  }
  
  footer h2{
    margin-bottom: 0;
    color: rgb(214, 214, 214);
    font-weight: initial;
    font-size: 18px;
    padding-top: 20px;
  }
  .footer-by{
    width: 50%;
  }
  .footer-update{
    width: 200px;
    float: right;
    padding-bottom: 20px;
  }
}
